<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>글쓴이</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td th:text="${board.id}"></td>
                <td><a th:href="'/board/view/'+${board.id}" th:text="${board.title}"></a></td>
                <td th:text="${board.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
    <p>
        <a class="btn btn-primary" href="/write/new">글쓰기</a>
    </p>
    <p>
        <a class="btn btn-primary" href="/members/new">회원가입</a>
        <a class="btn btn-primary" href="/login">로그인</a>
    </p>
</div> <!-- /container -->
</body>
</html>